@model IEnumerable<TechShare.Models.Group>

@*
@{ 
    Layout = null;
}
*@

@{
    ViewBag.Title = "GroupList";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.icon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="/Image1/Photo1.png" />
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.icon)
            </td>
            *@
            @*
            <td>
               @Html.DisplayFor(modelItem => item.name)
            </td>
            *@
            
            <td>
                @*@Html.ActionLink("チャット", "GroupChat", new { id = item.Id })     *@
                @* @Html.ActionLink(item.icon, "GroupChat", new { id = item.Id })     *@
                 
                 @Html.ActionLink(item.name, "Index", "Groups", new { id = item.Id }, "")
                 
                @*@Html.ActionLink("グループ名の編集", "Edit", new { id = item.Id })  *@
                @*@Html.ActionLink("詳細", "Details", new { id = item.Id }) |         *@
                @*@Html.ActionLink("グループの削除", "Delete", "Groups", new { id = item.Id }) *@
            </td>

        </tr>
    }
</table>
<p>
    @Html.ActionLink("＋グループの新規作成", "Create")
</p>

